<ion-view view-title="我的订单">

    <ion-content class="padding-top" style="background-color: #f2f2f2"  >
        <ion-refresher pulling-text="" on-refresh="doRefresh()" spinner="ios">
        </ion-refresher>

        <ion-list show-delete="data.showDelete" show-reorder="data.showReorder" can-swipe="listCanSwipe" >
                <ion-item class="item-thumbnail-left " ng-repeat="item in items" type="item-text-wrap" ui-sref="detail" style="margin-top: 5px">
                    <img ng-src="{{item.pic}}">
                    <h2 style="white-space: normal;">{{item.name}}&nbsp;</h2>
                    <p>下单时间：{{item.time}}</p>
                    <p style="font-size:14px; line-height:19px; color: #a2a2a2"><span class="ion ion-android-document" ></span> 动态电子票</p>

                    <ion-option-button class="button-assertive" ng-click="">
                        Delete
                    </ion-option-button>

                </ion-item>


        </ion-list>

    </ion-content>
</ion-view>


